## Import packages and csv file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("https://raw.githubusercontent.com/wongwara/Jobseeker_Baymax/main/dataset/listings2019_2022.csv")

## Basic understanding the data set

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3902 entries, 0 to 3901
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   jobId                  3902 non-null   int64
 1   jobTitle               3902 non-null   object
 2   jobClassification      3902 non-null   object
 3   jobSubClassification   3902 non-null   object
 4   advertiserName         3902 non-null   object
 5   advertiserId           3902 non-null   int64
 6   companyId              1067 non-null   float64
 7   companyName            1476 non-null   object
 8   companyRating          1067 non-null   float64
 9   listingDate            3902 non-null   object
 10  expiryDate             3902 non-null   object
 11  teaser                 3374 non-null   object
 12  nation                 3902 non-null   object
 13  state                  3902 non-null   object
 14  city                   3902 non-null   object
 15  area                   2674 non-null   object
 16  suburb                 2977 non-null   object
 17  workType               3902 non-null   object
 18  salary_string          1518 non-null   object
 19  isRightToWorkRequired  3416 non-null   object
 20  desktopAdTemplate      3207 non-null   object
 21  mobileAdTemplate       3895 non-null   object
 22  companyProfileUrl      1476 non-null   object
 23  seekJobListingUrl      3902 non-null   object
 24  R                      3902 non-null   int64
 25  Python                 3902 non-null   int64
 26  Matlab                 3902 non-null   int64
 27  SQL                    3902 non-null   int64
 28  Stata                  3902 non-null   int64
 29  Minitab                3902 non-null   int64
 30  SPSS                   3902 non-null   int64
 31  Ruby                   3902 non-null   int64
 32  C                      3902 non-null   int64
 33  Scala                  3902 non-null   int64
 34  Tableau                3902 non-null   int64
 35  Java                   3902 non-null   int64
 36  Hadoop                 3902 non-null   int64
 37  SAS                    3902 non-null   int64
 38  Julia                  3902 non-null   int64
 39  Knime                  3902 non-null   int64
 40  D3                     3902 non-null   int64
 41  Clojure                3902 non-null   int64
 42  Haskell                3902 non-null   int64
 43  Lisp                   3902 non-null   int64
 44  Golang                 3902 non-null   int64
 45  Spark                  3902 non-null   int64
 46  Javascript             3902 non-null   int64
 47  F.                     3902 non-null   int64
 48  Fortran                3902 non-null   int64
 49  first_seen             3902 non-null   object
 50  last_seen              3902 non-null   object
 51  recruiter              3902 non-null   int64
dtypes: float64(2), int64(28), object(22)
memory usage: 1.5+ MB

In [3]:
df.shape

(3902, 52)

In [4]:
df['state'].unique()

array(['New South Wales', 'Australian Capital Territory', 'Victoria',
       'Western Australia', 'Queensland', 'Northern Territories',
       'South Australia', 'Tasmania', 'UK & Ireland', 'Overseas',
       'Northern Territory'], dtype=object)

In [5]:
df.columns

Index(['jobId', 'jobTitle', 'jobClassification', 'jobSubClassification',
       'advertiserName', 'advertiserId', 'companyId', 'companyName',
       'companyRating', 'listingDate', 'expiryDate', 'teaser', 'nation',
       'state', 'city', 'area', 'suburb', 'workType', 'salary_string',
       'isRightToWorkRequired', 'desktopAdTemplate', 'mobileAdTemplate',
       'companyProfileUrl', 'seekJobListingUrl', 'R', 'Python', 'Matlab',
       'SQL', 'Stata', 'Minitab', 'SPSS', 'Ruby', 'C', 'Scala', 'Tableau',
       'Java', 'Hadoop', 'SAS', 'Julia', 'Knime', 'D3', 'Clojure', 'Haskell',
       'Lisp', 'Golang', 'Spark', 'Javascript', 'F.', 'Fortran', 'first_seen',
       'last_seen', 'recruiter'],
      dtype='object')

In [6]:
df.head()

,jobId,jobTitle,jobClassification,jobSubClassification,advertiserName,advertiserId,companyId,companyName,companyRating,listingDate,...,Haskell,Lisp,Golang,Spark,Javascript,F.,Fortran,first_seen,last_seen,recruiter
0,38098375,Senior Method Development Immunoassay Scientis...,Science & Technology,Biological & Biomedical Sciences,Hobson Prior Australia,30969882,NaN,NaN,NaN,2019-01-16 12:17:41,...,0,0,0,0,0,0,0,2019-03-06,2019-03-11,1
1,38259053,Pricing Data Scientist - Lower North Shore,Information & Communication Technology,Other,Randstad - Technologies,26537413,NaN,NaN,NaN,2019-02-04 13:02:22,...,0,0,0,0,0,0,0,2019-03-06,2019-03-06,1
2,38267899,Insights Analyst â€“ Online Video Streaming,Information & Communication Technology,Database Development & Administration,Aurec,39407892,NaN,NaN,NaN,2019-02-05 11:33:08,...,0,0,0,0,0,0,0,2019-03-06,2019-03-07,1
3,38267995,Credit Risk Analyst,Banking & Financial Services,Compliance & Risk,Huxley Associates,26057722,NaN,NaN,NaN,2019-02-05 11:39:26,...,0,0,0,0,0,0,0,2019-03-06,2019-03-07,1
4,38269206,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,NaN,NaN,NaN,2019-02-05 12:54:11,...,0,0,0,0,0,0,0,2019-03-06,2019-03-07,0